/* General - Start */
html{
	scroll-behavior: smooth;
}
td, th {
    text-align: center;
}
.table-films{
    width: 100%;
    overflow-x: scroll;
}
h1, h2, h3, p{
    text-align: center;
}
h2{
    margin-bottom: 10px;
}
h3, h6{
    color: rgb(197, 197, 197);
}
p{
    color: #fff;
}
section{
    margin-top: 70px;
}
select{
    padding: 10px;
    background:#edf2ff;
    border:none;
    border-radius: 7px;
}
button:hover{
    cursor: pointer;
}
/* General - End */
.input-field, .input-field-login{
    border: none;
    border-radius: 23px;
    color: #666;
    font-size: 14px;
    padding: 10px 15px;
    margin: 8px 0;
}
.input-field-login{
    padding: 20px 35px;
}
.form-profile{
    display: block;
    margin: 0 auto;
    max-width: 45%;
}
/* Films - Start */
.films *{
    transition: all .6s ease;
}
.films__wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#films{
    width: 87%;
}
.films__buttons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.films__button{
    text-align: center;
    padding: 5px;
    margin: 10px 0;
    border: none;
    background: transparent;
    color: #fff;
}
.films__button:hover{
    border-bottom: 1px solid #fff;
}
/* Films - End */

/* Media queries */

@media screen and (max-width: 1200px) {
    .films__wrap{
        justify-content: center;
    }
    .films__buttons{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #films{
        max-width: 100%;
    }
}